@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

.container {
  font-family: 'Kumbh Sans', sans-serif;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
  font-size: 16px;
  --main-border: #fd7b1b;
  --light-gray: #656565;
}
